<section class="jumbotron bg-white text-center">
    <div class="container">
        <h2 class="jumbotron-heading">{{ pimcore_input('infoHeading',{'placeholder': 'Heading'}) }}</h2>
        <p>{{ pimcore_input('infoSummary',{'placeholder': 'Summary'}) }}</p>
    </div>
</section>