{% for hotel in hotels %}
    <div class="hotel">
        <h2>{{ hotel.getName() }}</h2>
        {#        <p>Room Type: {{ hotel.getRoomtype() }}</p>#}
        {#        <p>Price: {{ hotel.getPrice() }}</p>#}
    </div>
{% endfor %}